{% extends 'onlineshop/base.html' %}
{% block content %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row product-lists">
				{% for product in object_list  %}
				<div class="col-lg-4 col-md-6 text-center strawberry">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'onlineshop:product-detail' product.id %}"><img src="{{ product.img.url }}" alt=""></a>
						</div>
						<h3>{{ product.name }}</h3>
						<p class="product-price"><span>Per Kg</span> {{ product.finally_price }} </p>
						<a href="{% url 'onlineshop:product-detail' product.id %}" class="cart-btn">Detail </a>
					</div>
				</div>
				{% endfor %}
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<ul>
							{% if object_list.has_previous %}
							<li><a href="?page={{ object_list.previous_page_number }}">Prev</a></li>
							{% endif %}
							{% for i in  object_list.paginator.page_range %}
							{% if object_list.number == i %}
							<li><a class="active" href="?page={{ i }}">{{ i }}</a></li>
							{% else %}
							<li><a href="?page={{ i }}">{{ i }}</a></li>
							{% endif %}
							{% endfor %}
							{% if object_list.has_next %}
							<li><a href="?page={{ object_list.next_page_number }}">Next</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end products -->
{% endblock content %}