<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>onlineshop</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'onlineshop/img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'onlineshop/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'onlineshop/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'onlineshop/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'onlineshop/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'onlineshop/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'onlineshop/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'onlineshop/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'onlineshop/css/responsive.css' %}">

</head>
<body>

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{% url 'onlineshop:home-page' %}">
								<img src="{% static 'onlineshop/img/logo.png' %}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="#">Home</a>
									<ul class="sub-menu">
										<li><a href="{% url 'onlineshop:home-page' %}">Static Home</a></li>
									</ul>
								</li>
								<li><a href="#">Pages</a>
									<ul class="sub-menu">
										<li><a href="{% url 'onlineshop:cart-detail' %}">Cart</a></li>
										<li><a href="{% url 'onlineshop:order-add' %}">Check Out</a></li>
										<li><a href="{% url 'onlineshop:contact' %}">Contact</a></li>
										<li><a href="{% url 'onlineshop:list-product' %}">Shop</a></li>
									</ul>
								</li>
								<li><a href="{% url 'onlineshop:contact' %}">Contact</a></li>
								<li><a href="{% url 'onlineshop:list-product' %}">Shop</a>
									<ul class="sub-menu">
										<li><a href="{% url 'onlineshop:list-product' %}">Shop</a></li>
										<li><a href="{% url 'onlineshop:order-add' %}">Check Out</a></li>
										<li><a href="{% url 'onlineshop:list-product' %}">Single Product</a></li>
										<li><a href="{% url 'onlineshop:cart-detail' %}">Cart</a></li>
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="{% url 'onlineshop:cart-detail' %}"><i class="fas fa-shopping-cart"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->



	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle"></p>
                            
							<p> با توجه به اینکه سایت ازمایشی میباشد و طبیعتا محصولی هم برای فروش نمیباشد <br>به همین دلیل به صفحه پرداخت منتقل نمیشوید این صفحه برای نمایش کارکرد درست سایت میباشد <br>باتشکر</p>
                            <h3>سفارش شما با موفقیت ثبت شد</h3>
                            <h3> کد رهگیری سفارش شما =  {{ Payment.tracking_code }}</h3>
							<div class="hero-btns">
							</div>
 					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

